* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f6f8fb;
}

/* NAVBAR */
.navbar {
    background: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2e86de;
}

.menu a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu a:hover {
    color: #2e86de;
}

/* HERO */
.hero {
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    color: #555;
    margin-bottom: 25px;
}

.btn {
    background: #2e86de;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 8px;
}

.hero-img img {
    width: 450px;
    border-radius: 20px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 50px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* DASHBOARD */
.page {
    padding: 50px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.dashboard-card {
    background: white;
    height: 150px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: white;
    margin-top: 50px;
}
